
*.v1
.vs/ProjectEvaluation/scriptmanager.metadata.v7.bin
.vs/ProjectEvaluation/scriptmanager.projects.v7.bin
.vs/ScriptManager/DesignTimeBuild/.dtbcache.v2
.vs/ScriptManager/FileContentIndex/5b2b2c06-1ec8-450a-9f8b-b2d7d1286eb2.vsidx
.vs/ScriptManager/project-colors.json
.vs/ScriptManager/v17/.futdcache.v2
.vs/ScriptManager/v17/.suo
bin/Debug/net6.0-windows/ref/ScriptManager.dll
bin/Debug/net6.0-windows/Script/GetNote.txt
bin/Debug/net6.0-windows/Script/GetOvrecord.txt
bin/Debug/net6.0-windows/ScriptItems.json
bin/Debug/net6.0-windows/ScriptManager.deps.json
bin/Debug/net6.0-windows/ScriptManager.dll
bin/Debug/net6.0-windows/ScriptManager.exe
bin/Debug/net6.0-windows/ScriptManager.pdb
bin/Debug/net6.0-windows/ScriptManager.runtimeconfig.json
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0-windows/App.g.cs
obj/Debug/net6.0-windows/App.g.i.cs
obj/Debug/net6.0-windows/apphost.exe
obj/Debug/net6.0-windows/MainWindow.baml
obj/Debug/net6.0-windows/MainWindow.g.cs
obj/Debug/net6.0-windows/MainWindow.g.i.cs
obj/Debug/net6.0-windows/ref/ScriptManager.dll
obj/Debug/net6.0-windows/refint/ScriptManager.dll
obj/Debug/net6.0-windows/ScriptManager.AssemblyInfo.cs
obj/Debug/net6.0-windows/ScriptManager.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/ScriptManager.assets.cache
obj/Debug/net6.0-windows/ScriptManager.csproj.AssemblyReference.cache
obj/Debug/net6.0-windows/ScriptManager.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0-windows/ScriptManager.csproj.CoreCompileInputs.cache
obj/Debug/net6.0-windows/ScriptManager.csproj.FileListAbsolute.txt
obj/Debug/net6.0-windows/ScriptManager.designer.deps.json
obj/Debug/net6.0-windows/ScriptManager.designer.runtimeconfig.json
obj/Debug/net6.0-windows/ScriptManager.dll
obj/Debug/net6.0-windows/ScriptManager.g.resources
obj/Debug/net6.0-windows/ScriptManager.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/ScriptManager.genruntimeconfig.cache
obj/Debug/net6.0-windows/ScriptManager.pdb
obj/Debug/net6.0-windows/ScriptManager_MarkupCompile.cache
obj/Debug/net6.0-windows/ScriptManager_MarkupCompile.i.cache
obj/project.assets.json
obj/project.nuget.cache
obj/ScriptManager.csproj.nuget.dgspec.json
obj/ScriptManager.csproj.nuget.g.props
obj/ScriptManager.csproj.nuget.g.targets
